body {
    font-family: STFangSong, Helvetica, Arial, Vernada, Tahoma, STXihei, "Microsoft YaHei", "Songti SC", SimSun, Heiti, sans-serif;
}

div.article-list {
    margin: 100px 10%;
}

div.date {
    display: inline-block;
    font-size: 20px;
    color: darkgrey;
}

.title {
    cursor: pointer;
    padding: 20px;
}

.title a {
    display: block;
    font-size: 25px;
}

.title span {
    margin-left: 10px;
    font-size: 10px;
}

li.title:hover {
    background-color: #eee;
    font-size: 100%;
}